body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagem/fundo.jpg);
    height: 100vh;
}

h1{
    color: white;
    margin: 0;
}

.carregamento{ 
    height: 45%;
    width: 12%;
    visibility: hidden;
}

#caixadaimagem{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 300px;
}

#caixadaimagem img{
    z-index: 1;
    position: absolute;
    height: 90%;
    width: 90%;
}

#tampa{
    height: 14%;
    width: 19px;
    background-color: black;
    margin-left: -5px;
}

#caixadaimagem div:nth-child(2){
    border-top-left-radius: 35%;
    border-bottom-left-radius: 50%;
    background-color: rgba(255, 0, 0, 1);
    animation: 6s 1s color linear; 
}

#caixadaimagem div:nth-child(3){
    background-color: rgba(255, 68, 0, 1);
    animation: 5s 2s color linear;
}
#caixadaimagem div:nth-child(4){
    background-color: rgba(255, 166, 0, 1);
    animation: 4s 3s color linear;
}

#caixadaimagem div:nth-child(5){
    background-color: rgba(255, 255, 0, 1);
    animation: 3s 4s color linear;
}
#caixadaimagem div:nth-child(6){
    background-color: rgba(153, 205, 50, 1);
    animation: 2s 5s color linear;
}

#caixadaimagem div:nth-child(7){
    border-top-right-radius: 35%;
    border-bottom-right-radius: 50%;
    background-color: rgba(0, 128, 0, 1);
    animation: 1s 6s color linear;
}

@keyframes color {
    0%{
        visibility: visible;
    }
    80%{
        visibility: hidden;
    }
}