body{
    margin-top: 0%;
    margin-bottom: 0%;
}
img{
    width: 29%;
    border: 2px solid black;
}

h1{
    color:green;
    font-weight: bolder; /*negrito*/
    text-align: center;
    font-size:25px;
}