body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    margin: 0;
    background-color: aquamarine;
}

h1{
    color: white;
    font-weight: bold;
    text-align: center;
    border: 4px solid black;
    background-color: blueviolet;
    visibility: hidden; /* serve para ocultar elementos*/
}

header{
    width: 100vw;
    display: flex;
    justify-content:space-around;
    align-content: center;
    align-items: center;
    background-color: azure;
}

header img{
    width: 6vw;
    padding: 5px;
}

.menu a{
    text-decoration: none;
    color: palevioletred;
    font-size: 12pt;
    margin-left: 15px;
}

aside{
    display: flex;
    justify-content: center;
}

aside h2, aside p{
    padding: 10px;
    margin: 20px 10px 0px 10px;
    color: red;
}

aside p{
    font-weight: bold;
    line-height:20px; /* altura da linha */
    letter-spacing: 1px; /*espaço entre as letras*/
}

.lado{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items: center; 
}

nav div{
    font-weight: bolder;
    width: 50%;
    border: 2px solid red;
    text-align: center;
    background-color: peru;
    padding: 12px 0px;
}

body>nav{
    box-sizing: border-box; /* serve para adicionar as bordas para soma do vw/vh */
    display: flex;
    padding: 40px;
    border: 2px solid black;
    background-color: white;
    width: 100vw; 
}