body{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

header{
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    width: 944px;
    height: 641px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

h1{
    font-size: 28pt;
}

#navegacao{
    position: relative;
    top: -157px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisa{
    position: relative;
    top: -34px;
    right: -6px;
    flex-direction: column;
 
}

label:nth-child(2){
    position: relative;
    left: -66px;
}

#pesquisa button{
    position: relative;
    left: -16px;
    background-color: blue;
    width: 102px;
    height: 40px;
}

#pesquisa div:last-child{
    position: relative;
    left: -44px;
    top:22px;
}

select {
    position: relative;
    top: -3px;
    left:-100px;
    /* right: 94px; */
    width: 196px;
    height: 27px;
}

#pesquisa div{
    display: flex;
    justify-content: space-around;
}

#busca{
    width: 550px;
    height: 33px;
    margin-right: 80px;
}

h1{
    color: white;
}

label{
    color: white;
}

img {
    width: 100px;
    height: 80px;
}

nav a{
    padding: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5px;
    display: inline;
}

nav a:hover{
    border-top: 3px solid white;
}

