<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/import.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/470.css">
    <link rel="stylesheet" href="static/css/800.css">
    <link rel="stylesheet" href="static/css/1111.css">
    <title>Tio Jolos - Tijolos Gourmet</title>
</head>